# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
.Python
env/
venv/
.venv/
pip-wheel-metadata/

# Python virtualenv in Server
Server/venv/
Server/uploads/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/

# Vite
Client/.env
Server/.env

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Service account keys
Server/event-booking-system-dev-*.json
