{
  "API_BASE_URL": "http://192.168.0.102:8000",
  "GOOGLE_CLIENT_ID": "947113013769-dsal8c7k52irs6eokfnvl6o1a6v2rvea.apps.googleusercontent.com",
  "GOOGLE_SERVER_CLIENT_ID": "947113013769-dsal8c7k52irs6eokfnvl6o1a6v2rvea.apps.googleusercontent.com"
}
